{% extends 'base.html.twig' %}

{% block title %}Agent List{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des Agents</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in agents %}
                    <tr>
                         <td><a href="{{ path('agent_show', {'id': agent.id}) }}">{{ agent.id }}</a></td>
                         <td>{{ agent.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
