{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listes des Spéctacles</h1>

    <ul>
        {% for show in shows %}
            <li><a href="{{ path('show_comment', {'showslug': show.slug}) }}">{{ show.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
